@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:hover {
  text-decoration: none !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #e8ece6 !important;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}

.white {
  color: #e8ece6;
}

.black {
  color: #000000;
}

.cyan {
  color: #0c6b66;
}

.lightcyan {
  color: #008b8b;
}

.orange {
  color: #e47712;
}

.aqua {
  color: #7fffd4;
}

.gradient {
  font-size: 4rem;
  font-weight: 600;
  background: -webkit-linear-gradient(45deg, #659999 30%, #f4791f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-2 {
  font-family: Nimbus Roman No9 L, serif;
}

.font-nav {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width:100%
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  background-color: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .navbar.mobile-nav-expand {
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.navbar .logo {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 40px;
    height: auto
  }
}

.navbar .nav-item {
  width: 150px;
  margin: 5px 0;
}

.navbar .nav-item a.nav-link {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  padding: 0 1rem;
}

.navbar .nav-item a.nav-link.resume {
  color: black;
  border: solid 2px black;
  padding: 8px 20px !important;
}

.navbar .nav-item a.nav-link:hover {
  color: black;
}

.navbar .nav-item a.nav-link.active {
  color: #0c6b66 !important;
  font-weight: 600;
}

.navbar.fixed-top.scrolled {
  background-color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar.fixed-top.scrolled .resume:hover {
  color: white !important;
}

.navbar .navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.svg-ani {
  overflow: visible;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  top: -250px;
  margin: 2.5rem 0 -32.5rem 0;
}

@media only screen and (max-width: 1200px) {
  .svg-ani {
    top: -220px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .svg-ani {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    top: -160px;
    margin-bottom: -20rem;
  }
}

@media only screen and (max-width: 768px) {
  .svg-ani {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    top: -110px;
    margin-bottom: -11rem;
  }
}

@media only screen and (max-width: 480px) {
  .svg-ani {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    top: 30px;
    margin: 0 0 20px 0;
  }
}















.experience {
  background: #e8ece6;
  padding: 60px 0;
}

.experience h2.display-1 {
  font-size: 60px;
  font-weight: 600;
}

.experience .vertical-line {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 1px;
  height: 100%;
  margin: 0 auto;
  margin-right: 33px;
}

.experience .exp {
  margin-top: 20px;
}

.experience .exp .col-sm-3 {
  margin-right: -40px;
}

.experience .exp p {
  font-size: 0.9rem;
}

.experience .exp h5,
.experience .exp p {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.experience .exp:before {
  content: "";
  width: 35px;
  height: 1px;
  margin-left: -45px;
  margin-top: 12px;
  background: rgba(0, 0, 0, 0.3);
}

.experience .exp:hover h5,
.experience .exp:hover p {
  color: rgba(0, 0, 0, 0.4);
}

.experience .exp:hover:before {
  background: rgba(0, 0, 0, 0.4);
}

.experience .exp.active h5,
.experience .exp.active p {
  color: black;
}

.experience .exp.active:before {
  background: black;
}

.experience .exp-desc {
  position: relative;
}

.experience .exp-desc .exp-desc-inner {
  width: 100%;
  background: -webkit-linear-gradient(0deg, #659999 0%, #f4791f 150%);
  overflow: hidden;
  position: absolute;
  opacity: 0;
  border-radius: 12px;
  padding: 2.5rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.experience .exp-desc .exp-desc-inner p {
  width: 100%;
  opacity: 0.85;
}

.experience .exp-desc .exp-desc-inner ul {
  padding-left: 2rem;
}

.experience .exp-desc .exp-desc-inner h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.experience .exp-desc .exp-desc-inner .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.experience .exp-desc .exp-desc-inner img {
  width: 100%;
  height: 220px;
  position: relative;
}

.experience .exp-desc .exp-desc-inner.active {
  -webkit-animation: fadeIn 0.6s ease;
  animation: fadeIn 0.6s ease;
  opacity: 1;
  left: 0;
}

.experience .exp-desc .exp-desc-inner.active img {
  -webkit-animation: zoomIn 0.6s ease-out;
  animation: zoomIn 0.6s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    left: 20px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: 20px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .experience .exp-desc.desktop {
    display: none;
  }
}

.experience .exp-desc.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .experience .exp-desc.mobile {
    display: block;
    width: 120%;
  }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
  .experience .exp-desc.mobile {
    width: 105%;
  }
}

@media only screen and (max-width: 768px) {
  .experience .exp-desc.mobile .exp-desc-inner {
    display: none;
    position: relative;
    padding: 25px 15px;
  }
  .experience .exp-desc.mobile .exp-desc-inner.active {
    display: block;
  }
  .experience .exp-desc.mobile .exp-desc-inner h5,
  .experience .exp-desc.mobile .exp-desc-inner p {
    color: #e8ece6 !important;
  }
}















section.contact {
  padding: 40px 0 100px 0;
}

@media only screen and (max-width: 768px) {
  section.contact {
    padding: 0 0 100px 0;
  }
}

section.contact .cat-ani {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

@media only screen and (max-width: 768px) {
  section.contact .cat-ani {
    margin-top: -30px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media only screen and (max-width: 480px) {
  section.contact .cat-ani {
    margin-top: 0px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

section.contact h2.display-1 {
  font-size: 60px;
  font-weight: 600;
  text-align: right;
  background: -webkit-linear-gradient(45deg, #659999 60%, #f4791f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  section.contact h2.display-1 {
    font-size: 52px;
    text-align: center;
  }
}

section.contact p.description {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  section.contact p.description {
    text-align: center;
  }
}

section.contact a.button {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  section.contact a.button {
    margin: 0 auto;
  }
}

section.contact p.credit {
  bottom: 10px;
  font-size: 0.8rem;
}

section.contact .social-media-icon {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  section.contact .social-media-icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 10px 1rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  section.contact .social-media-icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 5px 0;
    margin: 0 auto;
    width: 80%;
  }
}

section.contact .social-media-icon a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.contact .social-media-icon a:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

section.contact .social-media-icon img {
  width: 20px;
  height: 20px;
}

section.copyright {
  background: #dee2dc;
}

section.copyright p {
  font-size: 0.8rem;
}

section.copyright .name {
  background: -webkit-linear-gradient(45deg, #659999 30%, #f4791f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */
