.awardContainer {
  position: fixed;
  top: 120px;
  right: 0px;
  z-index: 99999;
}

@media only screen and (max-width: 468px) {
  .awardContainer {
    transform: scale(0.75);
    transform-origin: right;
  }
}

.awardLink {
  display: block;
  width: 68px;
  height: 100px;
}
